*{
    padding: 0px;
    margin: 0px;
   
}

.body
{
    height: 100%;
    min-height: 100vh;
    background-color: rgb(229, 233, 236);
    display: flex;
    flex-direction: column;
    align-items: center;
}
/*add task box*/
.addTask{
    display: flex;
    justify-content: center;
    width: 40vw;
    background-color: white;
    margin-top: 20vh;
    padding: 40px 60px;
    box-shadow: 5px;

}
.container{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.addTask button{
    padding: 4px 6px;
    border: none;
    border-bottom: 1px solid rgb(112, 112, 196);
    border-radius: 5px;
}
.addTask button:hover{
    background-color: rgb(126, 153, 202);
    transition-duration: 0.5s;
}

.addTask input{
    width: 30vw;
    padding: 4px;
    border:none;
    border-bottom: 1px solid rgb(105, 105, 200);
}
.addTask input:focus {
    outline: none; /* This removes the default focus outline */
   /* border: 2px solid transparent;*/ /* Set border color to be transparent or the same as background color */
  }

  

/*==============*/
.container2{
   display: flex;
   flex-direction: column;
   margin-top: 10vh;
    
}
.list{
    margin-top: 10px;
    width: 55vw;
    height: 40px;
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.list p{
    margin-left: 10px;
}
.list div{
    margin-right: 10px;
}
.list button{
    margin-left: 10px;
    background-color: rgb(250, 65, 65);
    color: white;
    border: none;
    font-weight: bold;
    padding: 4px;
}
.circle{
    height: 10px;
    width: 10px;
    /* background-color: red; */
    border-radius: 10px;
}